In [1]:
import pandas as pd

# Load the CSV file
file_path = "1800-quali-criteria.csv"
data = pd.read_csv(file_path)

# Display the first few rows of the data
data.head()

,ID,Level,Topics,Topic Label,Conceptual Relation,Filipino Context
0,Z140,4,driver busy journey,NaN,4,1
1,Z142,4,clothes shirt shoe bunch,NaN,4,1
2,Z139,4,flight airport plane,NaN,5,1
3,Z141,4,short luck wave,NaN,2,1
4,Z143,4,property concrete land,NaN,4,2

In [2]:
avg_conceptual_relation = data['Conceptual Relation'].mean()
avg_filipino_context = data['Filipino Context'].mean()

print(f"Average Conceptual Relation: {avg_conceptual_relation}")
print(f"Average Filipino Context: {avg_filipino_context}")

Average Conceptual Relation: 3.57703081232493
Average Filipino Context: 2.3781512605042017

In [7]:
avg_conceptual_relation_by_level = data.groupby('Level')['Conceptual Relation'].mean()
print("Conceptual Relation per Level")
print(avg_conceptual_relation_by_level)

Conceptual Relation per Level
Level
1    4.000000
2    3.750000
3    3.808219
4    3.490347
Name: Conceptual Relation, dtype: float64

In [8]:
avg_conceptual_relation_by_level = data.groupby('Level')['Filipino Context'].mean()
print("Filipino Context per Level")
print(avg_conceptual_relation_by_level)

Filipino Context per Level
Level
1    3.400000
2    2.950000
3    2.616438
4    2.247104
Name: Filipino Context, dtype: float64

In [10]:
level_counts = data['Level'].value_counts()
print("Hierarchy Breakdown")
print(level_counts)

Hierarchy Breakdown
Level
4    259
3     73
2     20
1      5
Name: count, dtype: int64